* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  height: 100vh;
  background-image: url("./images/Front\ Image.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 5em;
  color: #ffb100;
  font-family: "Poppins";
  text-shadow: 5px 0 0 black;
  margin-bottom: 50px;
  margin-top: 10vh;
  background: repeating-linear-gradient(
    -45deg,
    rgba(253, 150, 0, 0.4),
    rgba(0, 0, 0, 0.3) 10px,
    rgba(0, 0, 0, 0.3) 20px,
    rgba(0, 0, 0, 0.5) 40px
  );
}
#text-in-welcome {
  color: #ffb133;
  line-height: 2;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 0 0 black;
  background: repeating-linear-gradient(
    45deg,
    rgba(253, 150, 0, 0.4),
    rgba(0, 0, 0, 0.3) 10px,
    rgba(0, 0, 0, 0.3) 20px,
    rgba(0, 0, 0, 0.5) 40px
  );
}
@media (max-width: 840px) {
  #text-in-welcome {
    font-size: 1em;
    font-style: italic;
  }
  h1 {
    font-size: 3em;
  }
}
.project-section {
  text-align: center;
  background-color: #003b66;
  padding: 6.5rem 2rem 10rem 2rem;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.6);
}
.title-projects {
  max-width: 650px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid white;
  font-size: 3rem;
  color: white;
}
@media (max-width: 28.75rem) {
  .title-projects {
    font-size: 4rem;
  }
}
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  object-fit: cover;
}
.individual-project {
  resize: both;
  background: #303841;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  height: 100%;
}
.project-image {
  height: calc(100%-6.8rem);
  width: 100%;
  object-fit: cover;
  height: 380px;
}
@media (max-width: 30.625em) {
  .project-section {
    padding: 6rem 1rem;
  }

  .project-list {
    grid-template-columns: 1fr;
  }
}
.text-in-project {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  width: 100%;
  padding: 1.6rem 0;
  background-color: #303841;
  text-decoration: none;
}
.code {
  color: #303841;
  font-size: 20px;
  grid-row-start: 3;
}
.individual-project:hover code {
  color: #fb7d50;
  transition: color 0.5s ease-out;
}
.btn-show-all {
  padding: 1rem;
  background-color: #303841;
  border: none;
  border-radius: 8px;
  font-family: "Poppins";
  font-size: 22px;
  color: white;
  cursor: pointer;
  width: 10rem;
  transition: all 0.5s ease;
}
.btn-show-all i {
  padding-left: 7px;
  transition: transform 0.5s ease;
}
.btn-show-all:hover i,
.btn-show-all:focus i {
  transform: translateX(6px);
}
.btn-show-all:hover,
.btn-show-all:focus {
  background-color: orange;
  transition: background-color 0.7s ease-out;
  outline: none;
}
.btn-show-all:active {
  border: none;
  background-color: darkorange;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 89vh;
  align-items: center;
  text-align: center;
  background-color: #303841;
  align-content: center;
}

.contact-text {
  display: inline-block;
  color: white;
  font-family: "sans-serif";
}
#text-contact {
  margin-bottom: 15vh;
  font-style: italic;
  font-size: 1.7rem;
}
#header-in-contact {
  font-size: 5rem;
  padding-bottom: 1rem;
}
.links-contact {
  display: flex;
  color: white;
  flex-wrap: wrap;
  font-weight: bold;
  font-family: "Times New Roman";
  font-size: 2rem;
  justify-content: center;
}
.linkage {
  padding: 20px;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease-out;
}
.links-contact i {
  padding-right: 7px;
}
.linkage:hover {
  transform: translateY(9px);
}
@media (max-width: 610px) {
  #text-contact {
    margin-bottom: 15vh;
    font-style: italic;
    font-size: 1.1rem;
  }
  #header-in-contact {
    font-size: 3rem;
    padding-bottom: 10px;
  }
  .links-contact {
    font-size: 1.5rem;
  }
}
.footer-bottom {
  display: flex;
  background-color: #303841;
  padding: 2rem;
  border-top: 0.3rem solid #be3144;
  justify-content: space-between;
}

.footer-text {
  color: white;
  font-size: 1.2rem;
  margin-left: 2em;
}
#text-footer {
  text-align: justify;
  padding-right: 25px;
}
#rights {
  font-style: italic;
  margin-right: 2em;
}
.link-footer {
  text-decoration: none;
  color: white;
  font-style: italic;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #be3144;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
  background: repeating-linear-gradient(
    0deg,
    rgba(255, 177, 68, 1),
    rgba(0, 0, 0, 0.8) 8px,
    rgba(0, 0, 0, 0.8) 100%,
    rgba(255, 177, 68, 1) 50px
  );
}
.unord-list {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.items {
  display: block;
  padding: 1.5rem;
  color: white;
  font-size: 2rem;
  font-family: "sans-serif";
  font-weight: 600;
  text-decoration: none;
}
@media (max-width: 580px) {
  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
  #text-footer {
    padding-bottom: 30px;
    text-align: center;
  }
  #rights {
    text-align: center;
  }
  #navbar {
    justify-content: center;
  }
  .unord-list {
    padding-right: 0px;
    margin-right: 0px;
  }
  .items {
    font-size: 1.6rem;
  }
}
@media (max-width: 1320px) {
  .footer-text {
    font-size: 1.1rem;
  }
}
.items:hover {
  background-color: gray;
}
.welcome-section {
  background-color: black;
}
