* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

code {
  color: #303841;
  font-size: 1.5rem;
  margin: auto 0;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

h1 {
  font-size: 5em;
  color: #ffb100;
  font-family: "Poppins";
  text-shadow: 5px 0 0 rgb(20, 20, 20);
  background: repeating-linear-gradient(
    -45deg,
    rgba(253, 150, 0, 0.4),
    rgba(0, 0, 0, 0.3) 10px,
    rgba(0, 0, 0, 0.3) 20px,
    rgba(0, 0, 0, 0.5) 40px
  );
}

ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.about {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-image: url("./images/Front\ Image.jpg");
  background-size: cover;
  background-color: black;
}

.about__text {
  color: #ffb133;
  line-height: 2;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 0 0 black;
  background: repeating-linear-gradient(
    45deg,
    rgba(253, 150, 0, 0.4),
    rgba(0, 0, 0, 0.3) 10px,
    rgba(0, 0, 0, 0.3) 20px,
    rgba(0, 0, 0, 0.5) 40px
  );
}

.projects {
  text-align: center;
  background-color: #003b66;
  padding: 6.5rem 2rem 10rem 2rem;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.6);
}

.projects__title {
  max-width: 650px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid white;
  font-size: 3rem;
  color: white;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.projects__project {
  background: #303841;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-image {
  display: inline-block;
  object-fit: cover;
  height: 380px;
}

.projects__bottom-section {
  display: flex;
  margin: 0 auto;
  width: 90%;
  column-gap: 1em;
  align-content: center;
  justify-content: center;
  padding: 1em 0;
  line-height: 1.4em;
  min-height: 2.8em;
}

.projects__project-title {
  color: white;
  font-size: 1.2rem;
  margin: auto 0;
  width: 80%;
}

.projects__project:hover code,
.projects__project:focus-within code {
  color: #fb7d50;
  transition: color 0.5s ease-out;
  text-decoration: none;
}

.btn-show-all {
  padding: 0.8em 1.5em;
  background-color: #303841;
  border-radius: 8px;
  font-family: "Poppins";
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
  border: none;
  outline: none;
}

.btn-show-all i {
  margin-left: 7px;
  transition: transform 0.5s ease;
}

.btn-show-all:hover i,
.btn-show-all:focus i {
  transform: translateX(6px);
}

.btn-show-all:hover,
.btn-show-all:focus {
  background-color: orange;
  transition: background-color 0.5s ease-out;
}

.btn-show-all:active {
  background-color: darkorange;
}

.contact {
  display: flex;
  background-color: #303841;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  text-align: center;
  align-content: center;
}

.contact-text {
  display: inline-block;
  font-family: "sans-serif";
  color: white;
}

.contact__subtitle {
  margin-bottom: 3em;
  font-style: italic;
  font-size: 1.7rem;
}

.contact__title {
  font-size: 5rem;
  padding-bottom: 1rem;
}

.contact__links {
  display: flex;
  color: white;
  flex-wrap: wrap;
  font-weight: bold;
  font-family: "Times New Roman";
  font-size: 2rem;
  justify-content: center;
}

.contact__individual-link {
  padding: 20px;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease-out;
}

.contact__links i {
  padding-right: 7px;
}
.contact__individual-link:hover,
.contact__individual-link:focus {
  transform: translateY(9px);
}

footer {
  display: flex;
  background-color: #303841;
  padding: 2em;
  border-top: 0.3rem solid orange;
  justify-content: space-between;
  color: white;
  font-size: 1.1rem;
  font-style: italic;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
  background: repeating-linear-gradient(
    0deg,
    rgba(255, 177, 68, 1),
    rgba(0, 0, 0, 0.8) 8px,
    rgba(0, 0, 0, 0.8) 100%,
    rgba(255, 177, 68, 1) 50px
  );
}

.nav-toggle {
  display: none;
}

.navbar__item {
  display: block;
  padding: 1.5rem;
  color: white;
  font-size: 1.5rem;
  font-family: "sans-serif";
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar__item:hover {
  background-color: orange;
  color: #1c1c1c;
}

@media (max-width: 840px) {
  h1 {
    font-size: 3em;
  }

  .about__text {
    font-size: 1em;
  }

  .contact {
    padding-top: 4em;
  }
}

@media (max-width: 610px) {
  footer {
    flex-direction: column;
    row-gap: 1.5em;
    text-align: center;
    font-size: 1rem;
  }

  .contact__title {
    font-size: 3rem;
    padding-bottom: 10px;
  }

  .contact__subtitle {
    margin-top: 0.75em;
    font-size: 1.1rem;
  }

  .contact__links {
    font-size: 1.5rem;
  }

  .navbar {
    position: fixed;
    justify-content: flex-start;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
    transform: translateX(100%);
  }

  .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    margin-top: 3em;
    padding: 0;
  }

  .navbar__item {
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
  }

  .navbar__item:hover {
    background-color: transparent;
    color: orange;
  }

  .nav-toggle {
    padding: 0em;
    background: transparent;
    display: block;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0.8em;
    top: 1.5em;
    z-index: 1000;
  }

  .nav-open .navbar {
    transform: translateX(40%);
  }

  .nav-toggle {
    position: fixed;
    outline: none;
  }

  .nav-open .hamburger {
    transform: rotate(0.625turn);
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }

  .nav-open .hamburger::after {
    opacity: 0;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: orange;
    width: 2em;
    height: 2px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
    box-shadow: 0.8px 0.8px 0.8px 0.8px #1c1c1c;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 6px;
  }
  .hamburger::after {
    bottom: 6px;
  }
}
@media (max-width: 490px) {
  .projects__list {
    grid-template-columns: 1fr;
  }
}
